main{
  padding-inline: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100svh;
  background: #f3f4f6;
}
.page-area {
  width: 90vw;
  padding: 20px ;
  background: #fff;
  max-width: 450px;
  border-radius: 5px;
}
.page-area .logo {
  margin: 0 auto;
}
.page-area h2{
    font-size: 22px;
    font-weight: 500;
    color: #222;
    text-align: center;
    margin-top: 10px;
}
.page-area .field{
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-bottom: 10px;
}
.page-area .remember{
    display: flex;
    gap: 7px;
    margin-bottom: 10px;
    align-items: center;
}
.page-area .remember input{
    margin-top: -2px;
}
.page-area .remember label{
    color: #222;
}
.page-area .field label{
    font-size: 14px;
    font-weight: 500;
    color: #222;
}
.page-area .field div{
  border: 1px solid #ddd;

  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 7px;
  overflow: hidden;
  padding-inline: 10px;
}
.page-area .field input{
  padding: 8px 0;
  width: 100%;
  outline: none;
}
.page-area .field svg{
  color: #444;
  font-size: 25px;
}
.page-area .submit-btn{
  color: #fff;
  background: #3183f5;
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.page-area a{
  color: #3183f5;
}
.page-area .email{
  text-align: center;
  color: #444;
  margin-bottom: 15px;
}
.page-area .logout{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.page-area .logout button{
  color: #fff;
  background: #3183f5;
  padding: 8px 25px;
  margin-bottom: 10px;
  border-radius: 5px;
 
}

@media only screen and (max-width: 500px) {
  main{
    padding-inline: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: auto;
    min-height: auto;
    background: #fff;
  }
  .page-area {
    width: 100vw;
    padding: 30px 15px;
    border-radius: 0;
  }
}